<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Trogon{% endblock %}</title>
{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
{% endblock %}
	</head>
	<body>
		{{ navigation('main') }}
		{{ breadcrumb() }}
		<div class="container">
			{% block body %}{% endblock %}
			<footer class="footer mb-3 px-3 py-2 text-black bg-light rounded-3">
				<div class="container">
					<div class="row">
						<div class="col-auto col-sm">
							&copy; Trogon 2017 - {{ date() | date("Y") }}
						</div>
						<div class="col text-center d-none d-md-block">
							<small class="text-muted">
								Powered by
								<a href="https://api-platform.com/" target="_blank">API Platform</a>,
								<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>,
								<a href="https://doctrine-project.org/" target="_blank">Doctrine</a>,
								<a href="https://reactjs.org/" target="_blank">React</a>,
								<a href="https://symfony.com/" target="_blank">Symfony</a>
							</small>
						</div>
						<div class="col col-md-auto text-end">
							Version: 2.14.2408
						</div>
					</div>
				</div>
			</footer>
		</div>
{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
{% endblock %}
	</body>
</html>
